<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>最家</title>
		<link rel="stylesheet" type="text/css" href="__LIB__/public.css"/>
		<link rel="stylesheet" type="text/css" href="__LIB__/myorder.css" />
	</head>
	<body>
		<!------------------------------head------------------------------>
		{include file="hond/inmygxin"}
		<!------------------------------Bott------------------------------>
		
				<div class="you fl">
					<div class="my clearfix">
						<h2 class="fl">反馈系统</h2>
					</div>
					<div class="dlist">
					
				</div>
			
				
					<div class="sx clearfix">
						
						<div class="clearfix">
							
							<dl class="fl">
						
									<!-- 后面可以扩展程序 -->
								<dd><a href="#2">评价</a></dd>
							</dl>
							
							
					
					</div>
					
				
				
				</div>
			</div>
		</div>
		
			<!--<dl class="fl">
								<dt><a href="#"><img src="__STATIC__/index2.1.0/img/nav3.jpg"/></a></dt>
								<dd><a href="#">家用创意壁挂  釉下彩复古</a></dd>
								<dd>¥199.00</dd>
								<dd>16000人评价</dd>
								<dd><a href="#">待评价</a></dd>
							</dl>
							<dl class="fl">
								<dt><a href="#"><img src="__STATIC__/index2.1.0/img/nav3.jpg"/></a></dt>
								<dd><a href="#">家用创意壁挂  釉下彩复古</a></dd>
								<dd>¥199.00</dd>
								<dd>16000人评价</dd>
								<dd><a href="#">待评价</a></dd>
							</dl>-->
			
			<!--遮罩-->
			<div class="mask"></div>
			<!--评价弹框-->
			<div class="pj">
				<div class="clearfix"><a href="#" class="fr gb"><img src="__STATIC__/index2.1.0/img/icon4.png"/></a></div>
				<h3>用户反馈</h3>
				<form id="leaveform" role="form" onsubmit="return false" >
					<div class="clearfix">
						<p class="fl">请打分：</p>
						<input name="title" class="form-control" type="text" placeholder="1-5分">
					</div>

					<textarea name="content" class="form-control" rows="10" placeholder="请输入留言内容,不要少于15个字" style="resize: none;"></textarea>
				
						<label>验证码</label>
						<input name="verifyCode"type="text"style="height: 38px;border: 1px solid #e6e6e6;">
						<a href="javascript:changeCaptcha()">
							<img id="yzm" src="{:captcha_src()}"style="position: absolute;width: 150px;height: 38px;" />
						</a>
				
					<div class="bc">
						<button onclick="checkchangeform()"style="width: 200px;height: 38px;background: brown;color: aliceblue;border: 1px solid #e6e6e6;"">回复</button>
					</div>
				</form>
			</div>
			
			<!--查看评价-->
			<div class="chak">
				<div class="clearfix"><a href="#" class="fr gb"><img src="__STATIC__/index2.1.0/img/icon4.png"/></a></div>
				<h3>商品评分</h3>
				<form action="#" method="get">
					<div class="clearfix">
						<p class="fl">请打分：</p>
						<p class="fl" id="xin">
							<a href="#2"><img src="__STATIC__/index2.1.0/img/hxin.png"/></a>
							<a href="#2"><img src="__STATIC__/index2.1.0/img/hxin.png"/></a>
							<a href="#2"><img src="__STATIC__/index2.1.0/img/hxin.png"/></a>
							<a href="#2"><img src="__STATIC__/index2.1.0/img/hxin.png"/></a>
							<a href="#2"><img src="__STATIC__/index2.1.0/img/hxin.png"/></a>
						</p>
					</div>
					<textarea name="" rows="" cols="" placeholder="请输入评价" >挺好的挺好的挺好的~五分好评</textarea>
					<div class="bc">
						<input type="button" value="保存"  />
						<input type="button" value="取消" />
					</div>
				</form>
			</div>
			
			
			
			
			{include file="hond/foot"}
		<script src="__CAIjs__/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__CAIjs__/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="__CAIjs__/user.js" type="text/javascript" charset="utf-8"></script>
		<script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
	</body>
<script>
	    function changeCaptcha() {
        $("#yzm").attr("src", "{:captcha_src()}");
    }
	function checkchangeform() {
        var title = $("input[name='title']");
        var content = $("textarea[name='content']");
        if (content.val().length < 2 || title.val() == "") {
            layer.alert("请确认是否按要求填写正确");
            changeCaptcha();
        } else {
            $.ajax({
                url: "{:url('mygxin/doLeaveword')}",
                type: "post",
                dataType: "json",
                data: $("#leaveform").serialize(),
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("error" + XMLHttpRequest.readyState + " " + XMLHttpRequest.status +
                        " " + textStatus);
                },
                success: function (data) {
                    console.log(data);
                    if (data.status == "success") {
                        layer.alert("留言成功", function () {
                            layer.closeAll();
                        })
                    } else {
                        layer.alert(data.msg)
                    }
                }
            });
        }

    }
</script>

</html>
