<link rel="stylesheet" type="text/css" href="__STATIC__/index2.1.0/css/index.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/index2.1.0/css/public.css"/>
{include file="hond/index2"}

		<!-------------------------banner--------------------------->
		<div class="block_home_slider">
			<div id="home_slider" class="flexslider">
				<ul class="slides">
                    {volist name="data" id="ivo"}
					<li class="focus-index-item" rseat="fcs_0_p<?php echo $i;?>" style=" opacity: 1;<?php if($i>1){echo 'display: none;';}?>">
						<a target="_blank" href="{$ivo.url}"
						   class="focus-index-itemLink"><img src="{$ivo.img}"></a>
					</li>
					
					{/volist}
				</ul>
			</div>
		</div>
		
		<!------------------------------thImg------------------------------>
		
		<div class="thImg">
			
			<div class="clearfix">
				{volist name="slide_to" id="to"  }
				<a href="{:url('index/proDer')}?id={$to.id}"><img src="/{$to.mainPic}"/></a>
				{/volist}
			</div>
			
		</div>
		
		<!------------------------------news------------------------------>
		<div class="news">
			<div class="wrapper">
				<h2><img src="__STATIC__/index2.1.0/img/ih1.jpg"/></h2>
			
				<div class="top clearfix">
					{volist name="slide_to_do" id="do"  }
					<a href="{:url('index/proDer')}?id={$do.id}"><img src="/{$do.mainPic}"/><p></p></a>
					{/volist}
				</div>
			
				<h2><img src="__STATIC__/index2.1.0/img/ih2.jpg"/></h2>
				<div class="flower clearfix tran">
					{volist name="slide_to_is" id="is"}
					<a href="{:url('index/proDer')}?id={$is.id}" class="clearfix">
						<dl>
							<dt>
								<span class="abl"></span>
								<img src="/{$is.mainPic}"/>
								<span class="abr"></span>
							</dt>
							<dd>{$is.goodsName}<span>已销售:{$is.saleCount}</span></dd>
							<dd><span>¥ {$is.salePrice}</span></dd>
						</dl>
					</a>
					{/volist}
			</div>
		</div>
		
		<!------------------------------ad------------------------------>
		<a href="#" class="ad"><img src="__STATIC__/index2.1.0/img/ib1.jpg"/></a>
		
		<!------------------------------people------------------------------>
		<div class="people">
			<div class="wrapper">
				<h2><img src="__STATIC__/index2.1.0/img/ih3.jpg"/></h2>
				<div class="pList clearfix tran">
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img src="__STATIC__/index2.1.0/img/s7.jpg"/>
								<span class="abr"></span>
							</dt>
							<dd>【最家】不锈钢壁饰墙饰软装</dd>
							<dd><span>￥688.00</span></dd>
						</dl>
					</a>
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img src="__STATIC__/index2.1.0/img/s10.jpg"/>
								<span class="abr"></span>
							</dt>
							<dd>【最家】小城动物木板画壁挂北欧</dd>
							<dd><span>￥188.00</span></dd>
						</dl>
					</a>
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img src="__STATIC__/index2.1.0/img/s4.jpg"/>
								<span class="abr"></span>
							</dt>
							<dd>【最家】玄关假山水壁饰背景墙饰挂件创意</dd>
							<dd><span>￥599.00</span></dd>
						</dl>
					</a>
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img src="__STATIC__/index2.1.0/img/s9.jpg"/>
								<span class="abr"></span>
							</dt>
							<dd>【最家】金属树枝壁饰铜鸟装饰品</dd>
							<dd><span>￥928.00</span></dd>
						</dl>
					</a>
				</div>
				<div class="pList clearfix tran">
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img src="__STATIC__/index2.1.0/img/s6.jpg"/>
								<span class="abr"></span>
							</dt>
							<dd>【最家】金属壁饰创意背景墙面挂件创意</dd>
							<dd><span>￥228.00</span></dd>
						</dl>
					</a>
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img src="__STATIC__/index2.1.0/img/s8.jpg"/>
								<span class="abr"></span>
							</dt>
							<dd>【最家】小城动物木板画壁挂北欧</dd>
							<dd><span>￥199.00</span></dd>
						</dl>
					</a>
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img src="__STATIC__/index2.1.0/img/s12.jpg"/>
								<span class="abr"></span>
							</dt>
							<dd>【最家】欧式复古挂钟创意餐厅钟表家居挂件</dd>
							<dd><span>￥666.00</span></dd>
						</dl>
					</a>
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img src="__STATIC__/index2.1.0/img/s1.jpg"/>
								<span class="abr"></span>
							</dt>
							<dd>【最家】客厅地中海欧式现代相片墙创意</dd>
							<dd><span>￥59.80</span></dd>
						</dl>
					</a>
				</div>
				<div class="pList clearfix tran">
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img src="__STATIC__/index2.1.0/img/s5.jpg"/>
								<span class="abr"></span>
							</dt>
							<dd>【最家】铁艺荷叶壁挂软装背景墙上装饰品</dd>
							<dd><span>￥800.00</span></dd>
						</dl>
					</a>
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img src="__STATIC__/index2.1.0/img/s3.jpg"/>
								<span class="abr"></span>
							</dt>
							<dd>【最家】欧式照片墙 创意组合结婚礼物</dd>
							<dd><span>￥189.00</span></dd>
						</dl>
					</a>
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img src="__STATIC__/index2.1.0/img/s2.jpg"/>
								<span class="abr"></span>
							</dt>
							<dd>【最家】欧式钟表相框墙挂墙创意组合</dd>
							<dd><span>￥148.00</span></dd>
						</dl>
					</a>
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img src="__STATIC__/index2.1.0/img/s11.jpg"/>
								<span class="abr"></span>
							</dt>
							<dd>【最家】小城动物木板画壁挂北欧</dd>
							<dd><span>￥188.00</span></dd>
						</dl>
					</a>
				</div>
			</div>
		</div>

        {include file="hond/foot"}
        <script src="__STATIC__/index2.1.0/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="__STATIC__/index2.1.0/js/public.js" type="text/javascript" charset="utf-8"></script>
        <script src="__STATIC__/index2.1.0/js/nav.js" type="text/javascript" charset="utf-8"></script>
        <script src="__STATIC__/index2.1.0/js/jquery.flexslider-min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				$('#home_slider').flexslider({
					animation: 'slide',
					controlNav: true,
					directionNav: true,
					animationLoop: true,
					slideshow: true,
					slideshowSpeed:2000,
					useCSS: false
				});

			});
		</script>
		
		
	</body>
</html>