<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>个人信息</title>
		<link rel="stylesheet" type="text/css" href="__CAI__/public.css"/>
		<link rel="stylesheet" type="text/css" href="__CAI__/myorder.css" />
	</head>
	<body>
		<!------------------------------head------------------------------>
		{include file="hond/index2"}
		<!------------------------------idea------------------------------>
		<div class="address mt">
			<div class="wrapper clearfix">
				<a href="index.html" class="fl">首页</a>
				<span>/</span>
				<a href="myorderq.html" class="on">我的订单</a>
				<span>/</span>
				<a href="#" class="on">订单详情</a>
			</div>
		</div>
		
		<!------------------------------Bott------------------------------>
		<div class="Bott">
			<div class="wrapper clearfix">
				<div class="zuo fl">
					<h3>
						<a href="#"><img src="__STATIC__/index2.1.0/img/tx.png"/></a>
						<p class="clearfix"><span class="fl">[羊羊羊]</span><span class="fr">[退出登录]</span></p>
					</h3>
					<div>
						<h4>我的交易</h4>
						<ul>
							<li><a href="cart.html">我的购物车</a></li>
							<li class="on"><a href="myorderq.html">我的订单</a></li>
							<li><a href="myprod.html">评价晒单</a></li>
						</ul>
						<h4>个人中心</h4>
						<ul>
							<li><a href="mygxin.html">我的中心</a></li>
							<li><a href="address.html">地址管理</a></li>
						</ul>
						<h4>账户管理</h4>
						<ul>
							<li><a href="mygrxx.html">个人信息</a></li>
							<li><a href="remima.html">修改密码</a></li>
						</ul>
					</div>
				</div>
				<div class="you fl">
					{foreach  name="orderList" as id="order"}
					<div class="my clearfix">
						<h2>订单详情<a href="#">请谨防钓鱼链接或诈骗电话，了解更多&gt;</a></h2>
						<h3>订单号：<span>{$order[0]['orderId']}</span></h3>
					</div>
					<div class="orderList">
						<div class="orderList1">
							<h3>{switch name="$order[0]['status']"}
								{case value="0"}未付款{/case}
								{case value="1"}已付款，等待发货{/case}
								{case value="2"}已发货，等待确认收货{/case}
								{case value="3"}已确认收货，未评价{/case}
								{/switch}</h3>
								{foreach $order[1] as $time}
							<div class="clearfix">
								
								<a href="#" class="fl"><img src="/{$time.mainPic}" style="width: 86px; height: 86px;"/></a>
								<p class="fl"><a href="#">{$time.goodsName}</a><a href="#">¥{$order[0]['totalPay']}</a></p>
							</div>
							{/foreach}
						</div>
						<div class="orderList1">
							<h3>收货信息</h3>
							<p>姓 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：<span>{$order[0]['consigneeName']}</span></p>
							<p>联系电话：<span>{$order[0]['mobilePhone']}</span></p>
							<p>收货地址：<span>{$order[0]['province']}</span></p>
						</div>
						<div class="orderList1">
							<h3>支付方式及送货时间</h3>
							<p>支付方式：<span>{switch name="$order[0]['payMethod']"}
								{case value="0"}支付宝支付{/case}
								{case value="1"}微信支付{/case}
								{default /}网上银行{/case}
								{/switch}</span></p>
							<p>送货时间：<span>7天到货</span></p>
						</div>
						<div class="orderList1 hei">
							<h3><strong>商品总价：</strong><span>¥{$order[0]['totalPay']}</span></h3>
							<p><strong>运费：</strong><span>¥0</span></p>
							<p><strong>订单金额：</strong><span>¥{$order[0]['totalPay']}</span></p>
							<p><strong>实付金额：</strong><span>¥{$order[0]['totalPay']}</span></p>
						</div>
						
					</div>
					
					{/foreach}
				</div>
			</div>
		</div>
		
		
		{include file="hond/foot"}
		<script src="__CAIjs__/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__CAIjs__/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="__CAIjs__/user.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
